.playlists_home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    height: 90vh;
  }

  .heading, a {
    margin-top: 2rem;
    text-align: center;
    color: #c9c9c9;
    text-decoration: none;
  }
  
  .heading_2, a:hover {
    color: #3b3b3b;
  }

  .loading_div {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 95vh;
  }