.playlist_header {
  font-size: 2.3rem;
  margin-top: 2.2rem;
}

.playlist_images {
  max-width: 90%;
  max-height: 11rem;
}

.playlist_btn {
  border-radius: 30px;
  border: none;
  padding: 0.6rem;
  background-color: #3c3b3b;
  color: rgb(171, 169, 169);
  justify-self: flex-end;
  padding: 1rem;
  background: linear-gradient(rgb(49, 49, 49), #1e1e1ec6);
  transition: all .2s ease-in-out; 
  filter: drop-shadow(0 0 0.3rem rgba(138, 137, 137, 0.299));
  }

.playlist_btn:hover,
.heading:hover {
  color: #474646;
  transform: scale(1.1); 
  font-weight: 500;
}

.playlist_info {
  width: 95%;
  font-size: 0.9rem;
  color: #5e5e5e;
  height: 5.5rem;
  align-self: center;
}

.playlist_card {
  width: 17%;
  text-align: center;
  background-color: rgba(41, 39, 39, 0.3);
  border-radius: 15px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  transition: all .2s ease-in-out; 
}

.playlist_card .playlist_header {
  animation: none;
  transition: all 0.3s ease;
}

.playlist_card:hover .playlist_header {
  animation: dance 1.2s linear infinite;
}

.playlist_card:hover {
  background-color: rgba(78, 75, 75, 0.3);
  transform: scale(1.1); 
  -webkit-box-shadow:0px 0px 46px 2px rgba(163,163,163,0.18);
  -moz-box-shadow: 0px 0px 46px 2px rgba(163,163,163,0.18);
  box-shadow: 0px 0px 46px 2px rgba(163,163,163,0.18);

}

.playlist_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}




@keyframes dance{
  0%{transform: rotate(0)}
  25%{transform: rotate(-5deg)}
  50%{transform: rotate(0deg)}
  75%{transform: rotate(5deg)}
  100%{transform: rotate(0deg)}
}


@media (min-width: 1700px) {
  .playlist_card {
    gap: 3.5rem;
  }
  .playlist_btn {
    margin: 1rem;
  }
}